@{
    Layout = null;

    //Code Change Func
    Func<string, string> _funStateConvert = new Mall_WeChart_Nf.Operator.CodeChange.AdminControllerCodeChange().OrderStateConvert;

    Func<object, string> _funLogisticsStateConvert = new Mall_WeChart_Nf.Operator.CodeChange.AdminControllerCodeChange().LogisticsStateConvert;

    Func<object, object, Tuple<string, string>> _funIsNeedInvoiceConvert = new Mall_WeChart_Nf.Operator.CodeChange.AdminControllerCodeChange().IsNeedVoiceConvert;
}

@{
    if (ViewBag.OrderState == "1")
    { //未全部
        <table class="table">
            <tr>
                <th>订单编号</th>
                <th>订单时间</th>
                <th>店铺名称</th>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>销售数量</th>
                <th>单位价格</th>
                <th>实际单位价格</th>
                <th>备注</th>
                <th>用户姓名</th>
                <th>用户电话</th>
                <th>收货地址</th>
                <th>订单状态</th>
                <th>需要发票</th>
                <th>发票抬头</th>
                <th>操作</th>
            </tr>

            @foreach (var item in ViewBag.list)
            {
                <tr>
                    <td>@item.OrderNum</td>
                    <td>@item.OpeDate.ToString()</td>
                    <td>@item.StoreName</td>
                    <td>@item.Title</td>
                    <td>@item.OptionName</td>
                    <td>@item.Count</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.RealUnitPrice</td>
                    <td>@item.Remark</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.Address</td>
                    <td>@_funStateConvert(item.OrderState.ToString())</td>
                    <td>@_funIsNeedInvoiceConvert(item.NeedInvoice, item.InvoiceTitle).Item1</td>
                    <td>@_funIsNeedInvoiceConvert(item.NeedInvoice, item.InvoiceTitle).Item2</td>
                    <td>
                        <a href="javascript:;" class="inner_btn" uState="@item.OrderState" onclick="ChangePrice('@item.ID')">修改价格</a>
                        <a href="javascript:;" class="inner_btn" uState="@item.OrderState" onclick="OrderClose('@item.ID')">关闭</a>
                    </td>
                </tr>
            }

        </table>
    }
    else { //已付款 + 全部
        <table class="table">
            <tr>
                <th>订单编号</th>
                <th>订单时间</th>
                <th>店铺名称</th>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>销售数量</th>
                <th>单位价格</th>
                <th>实际单位价格</th>
                <th>备注</th>
                <th>用户姓名</th>
                <th>用户电话</th>
                <th>收货地址</th>
                <th>订单状态</th>
                <th>需要发票</th>
                <th>发票抬头</th>
                <th>物流状态</th>
                <th>物流单号</th>
                <th>物流公司</th>
                <th>操作</th>
            </tr>

            @foreach (var item in ViewBag.list)
            {
                <tr>
                    <td>@item.OrderNum</td>
                    <td>@item.OpeDate.ToString()</td>
                    <td>@item.StoreName</td>
                    <td>@item.Title</td>
                    <td>@item.OptionName</td>
                    <td>@item.Count</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.RealUnitPrice</td>
                    <td>@item.Remark</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.Address</td>
                    <td>@_funStateConvert(item.OrderState.ToString())</td>
                    <td>@_funIsNeedInvoiceConvert(item.NeedInvoice, item.InvoiceTitle).Item1</td>
                    <td>@_funIsNeedInvoiceConvert(item.NeedInvoice, item.InvoiceTitle).Item2</td>
                    <td>@_funLogisticsStateConvert(item.LogisticsState)</td>
                    <td>@item.ExpressNum</td>
                    <td>@item.ExpressType</td>
                    <td>
                        <a href="javascript:;" class="inner_btn" uState="@item.OrderState" onclick="WriteExpNum('@item.OrderNum','@item.ExpressCode','@item.ExpressNum')">填写快递单号</a>
                        <a href="@string.Format("http://www.kuaidi100.com/chaxun?com={0}&nu={1}",item.ExpressCode,item.ExpressNum)" class="inner_btn" target="_blank">查询快递</a>
                        <a href="javascript:;" class="inner_btn uState5" uState="@item.OrderState" onclick="OrderRefundOpe('@item.ID')">处理退款</a>
                    </td>
                </tr>
            }

        </table>
    }
    <aside class="paging">
        <a href="javascript:;" onclick="PreviousPage();">上一页</a>
        <a href="javascript:;" onclick="NextPage();">下一页</a>
    </aside>

    <input type="hidden" id="hIsLast" value="@ViewBag.IsLast" />
}



