@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int photocount = 0;
    if(Request["ID"]!=null)
    {
        IEnumerable<dynamic> photolist = ViewBag.Photolist as IEnumerable<dynamic>;
        photocount = photolist.Count();
    }
    string editorstr = "";
}
    <script src="~/StaticContent/js/uploadify/jquery-1.8.2.js"></script>
    <link href="~/StaticContent/js/uploadify/uploadify.css" rel="stylesheet" />
    <script src="~/StaticContent/js/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        var imagecount = 2;
        var speccount = 2;
        $(function () {
         $("#file_upload").uploadify({
            swf: '@Url.Content("~/StaticContent/js/uploadify/uploadify.swf")',// 上传使用的 Flash
             uploader: '/Admin/Upload?type=1',    // 服务器端处理地址
             //显示参数
             width: 80,                   // 按钮的宽度
             height: 24,                  // 按钮的高度
             buttonText: "浏览",      // 按钮上的文字
             buttonCursor: "hand",        // 按钮的鼠标图标
             buttonClass: "up_button2",
             fileObjName: 'Filedata',     // 上传参数名称
             //规则参数
             fileSizeLimit: "5000KB",
             fileTypeExts: "*.jpg;*.jpeg;*.png;*.gif",//允许上传的文件扩展名 和下面一起配合使用
             fileTypeDesc: "请选择 jpg、jpeg、png、gif 文件",// 文件说明
             fileSizeLimit: "2MB",         //允许上传的文件大小
             multi: true,                 // 是否支持同时上传多个文件
             removeTimeout: 1,
             onUploadSuccess: function (file, data, respose) {
                    var obj = jQuery.parseJSON(data); //把返回的数据序列化为Obj对象
                    if (obj.ret) {
                     $("#SltTxt").val(obj.FilePath);
                    }
                    else {
                        alert(obj.message);
                    }

                }
            });
         $("#file_upload1").uploadify({
            swf: '@Url.Content("~/StaticContent/js/uploadify/uploadify.swf")',// 上传使用的 Flash
             uploader: '/Admin/Upload?type=2',    // 服务器端处理地址
             //显示参数
             width: 80,                   // 按钮的宽度
             height: 24,                  // 按钮的高度
             buttonText: "浏览",      // 按钮上的文字
             buttonCursor: "hand",        // 按钮的鼠标图标
             buttonClass: "up_button2",
             fileObjName: 'Filedata',     // 上传参数名称
             //规则参数
             fileSizeLimit: "5000KB",
             fileTypeExts: "*.jpg;*.jpeg;*.png;*.gif",//允许上传的文件扩展名 和下面一起配合使用
             fileTypeDesc: "请选择 jpg、jpeg、png、gif 文件",// 文件说明
             fileSizeLimit: "2MB",         //允许上传的文件大小
             multi: true,                 // 是否支持同时上传多个文件
             removeTimeout: 1,
             onUploadSuccess: function (file, data, respose) {
                    var obj = jQuery.parseJSON(data); //把返回的数据序列化为Obj对象
                    if (obj.ret) {
                     $("#GdTxt1").val(obj.FilePath);
                    }
                    else {
                        alert(obj.message);
                    }

                }
         });
            var photocount = '@(photocount+1)';
            imagecount = '@(photocount+1)';
            if('@Request["ID"]'!=null)
            {
                for(var i=2;i<photocount;i++)
                {
                    $("#file_upload" + i).uploadify({
                        swf: '@Url.Content("~/StaticContent/js/uploadify/uploadify.swf")',// 上传使用的 Flash
                        uploader: '/Admin/Upload?type=2',    // 服务器端处理地址
                        //显示参数
                        width: 80,                   // 按钮的宽度
                        height: 24,                  // 按钮的高度
                        buttonText: "浏览",      // 按钮上的文字
                        buttonCursor: "hand",        // 按钮的鼠标图标
                        buttonClass: "up_button2",
                        fileObjName: 'Filedata',     // 上传参数名称
                        //规则参数
                        fileSizeLimit: "5000KB",
                        fileTypeExts: "*.jpg;*.jpeg;*.png;*.gif",//允许上传的文件扩展名 和下面一起配合使用
                        fileTypeDesc: "请选择 jpg、jpeg、png、gif 文件",// 文件说明
                        fileSizeLimit: "1MB",         //允许上传的文件大小
                        multi: true,                 // 是否支持同时上传多个文件
                        removeTimeout: 1,
                        onUploadSuccess: function (file, data, respose) {
                            var obj = jQuery.parseJSON(data); //把返回的数据序列化为Obj对象
                            if (obj.ret) {
                                $("#GdTxt" + $(this).attr("movieName").replace("SWFUpload_", "")).val(obj.FilePath);
                            }
                            else {
                                alert(obj.message);
                            }

                        }
                    });
                }
            }
        })
        function addimage()
        {
            $('#Imagelist').append('<span class="item_name" style="width:120px;">滚动图' + imagecount + '：</span>  <input type="text" class="textbox textbox_295" disabled="disabled" id="GdTxt' + imagecount + '" /><input id="file_upload' + imagecount + '" style="float:left" type="' + imagecount + '" />');
            $("#file_upload" + imagecount).uploadify({
            swf: '@Url.Content("~/StaticContent/js/uploadify/uploadify.swf")',// 上传使用的 Flash
                uploader: '/Admin/Upload?type=2',    // 服务器端处理地址
                //显示参数
                width: 80,                   // 按钮的宽度
                height: 24,                  // 按钮的高度
                buttonText: "浏览",      // 按钮上的文字
                buttonCursor: "hand",        // 按钮的鼠标图标
                buttonClass: "up_button2",
                fileObjName: 'Filedata',     // 上传参数名称
                //规则参数
                fileSizeLimit: "5000KB",
                fileTypeExts: "*.jpg;*.jpeg;*.png;*.gif",//允许上传的文件扩展名 和下面一起配合使用
                fileTypeDesc: "请选择 jpg、jpeg、png、gif 文件",// 文件说明
                fileSizeLimit: "1MB",         //允许上传的文件大小
                multi: true,                 // 是否支持同时上传多个文件
                removeTimeout: 1,
                onUploadSuccess: function (file, data, respose) {
                    var obj = jQuery.parseJSON(data); //把返回的数据序列化为Obj对象
                    if (obj.ret) {
                        $("#GdTxt" + $(this).attr("movieName").replace("SWFUpload_", "")).val(obj.FilePath);
                        $("#GdTxt").append(";" + obj.FilePath);
                    }
                    else {
                        alert(obj.message);
                    }

                }
            });
            imagecount++;
        }

        function addspec()
        {
            $('#speclist').append('<div><span class="item_name" style="width:120px;">规格' + speccount + '：</span><input type="text" class="textbox textbox_295" id="spec' + speccount + '"/>价格<input type="number" class="textbox textbox_225" id="specprice' + speccount + '" /></div> ');
            speccount++;
        }
 </script>
@if (Request["ID"] == null)
{
    <section>
        <ul class="ulColumn2">
            <li>
                <span class="item_name" style="width:120px;">商品名称：</span>
                <input type="text" class="textbox textbox_295" id="txtTitle" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">价格：</span>
                <input type="number" id="txtPrice" class="textbox textbox_295" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">缩略图：</span>
                <input type="text" class="textbox textbox_295" id="SltTxt" disabled="disabled" />
                <input id="file_upload" style="float:left" />
            </li>
            <li id="Imagelist">
                <span class="item_name" style="width:120px;">滚动图1：</span>
                <input type="text" class="textbox textbox_295" disabled="disabled" id="GdTxt1" />
                <input id="file_upload1" style="float:left" />
            </li>
            <li>
                <input type="button" value="追加图片" class="link_btn" onclick="addimage()" />
                <span style="display:none;" id="GdTxt"></span>
            </li>
            <li>
                <span class="item_name" style="width:120px;">类别：</span>
                @Html.DropDownList("ddlcategory", ViewData["ddlcategory"] as SelectList, new { @class = "select" })
            </li>
            <li>
                <span class="item_name" style="width:120px;">商品状态：</span>
                <label class="single_selection"><input type="radio" name="state" value="1" />上架 </label>
                <label class="single_selection"><input type="radio" name="state" value="0" />下架</label>
            </li>
            <li id="speclist">
                <div>
                    <span class="item_name" style="width:120px;">规格1：</span>
                    <input type="text" class="textbox textbox_225" id="spec1" />
                    价格<input type="number" class="textbox textbox_225" id="specprice1" />
                </div>

            </li>
            <li>
                <input type="button" value="追加规格" class="link_btn" onclick="addspec()" />
                <span style="display:none;" id="spec"></span>
            </li>
            <li>
                <span class="item_name" style="width:120px;">库存：</span>
                <input type="number" id="txtQuantity" class="textbox textbox_295" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">排序：</span>
                <input type="number" id="txtorder" class="textbox textbox_295" />
            </li>
            <li>
                <span class="item_name" style="width:120px;">商品介绍：</span>
                <script id="editor" type="text/plain" style="width:600px;height:300px;">
                </script>
            </li>
        </ul>
    </section>
}
else
{
    <section>
        <ul class="ulColumn2">
            @foreach (var item in ViewBag.Commodity)
            {
                editorstr = item.Intro;
                <li>
                    <span class="item_name" style="width:120px;">商品名称：</span>
                    <input type="text" class="textbox textbox_295" id="txtTitle" value="@item.Title" />
                </li>
                <li>
                    <span class="item_name" style="width:120px;">价格：</span>
                    <input type="number" id="txtPrice" class="textbox textbox_295" value="@item.Price" />
                </li>
                <li>
                    <span class="item_name" style="width:120px;">缩略图：</span>
                    <input type="text" class="textbox textbox_295" id="SltTxt" disabled="disabled" value="@item.Photo"  />
                    <input id="file_upload" style="float:left" />
                </li>
                <li>
                    <span class="item_name" style="width:120px;">类别：</span>
                    @Html.DropDownList("ddlcategory", ViewData["ddlcategory"] as SelectList, new { @class = "select" })
                </li>
                <li>
                    <span class="item_name" style="width:120px;">商品状态：</span>
                    @if (item.State == 1)
                    {
                        <label class="single_selection"><input type="radio" name="state" value="1"   checked="checked"/>上架 </label>
                        <label class="single_selection"><input type="radio" name="state" value="0" />下架</label>
                    }
                    else
                    {
                        <label class="single_selection"><input type="radio" name="state" value="1" />上架 </label>
                        <label class="single_selection"><input type="radio" name="state" value="0"  checked="checked" />下架</label>
                    }
                </li>

                <li>
                    <span class="item_name" style="width:120px;">库存：</span>
                    <input type="number" id="txtQuantity" class="textbox textbox_295"  value="@item.Stock" />
                </li>
                <li>
                    <span class="item_name" style="width:120px;">排序：</span>
                    <input type="number" id="txtorder" class="textbox textbox_295"  value="@item.iOrder" />
                </li>
                <li>
                    <span class="item_name" style="width:120px;">商品介绍：</span>
                    <script id="editor" type="text/plain" style="width:600px;height:300px;">
                    </script>
                </li>
            }
            <li id="speclist">
                @{
                    int speccount = 0;
                    foreach (var item in ViewBag.OPtionlist)
                    {
                        speccount++;
                        string specvalue = "spec" + speccount;
                        string specpriceid = "specprice" + speccount;
                        string specid = "specIDTxt" + speccount;
                        <div>
                            <span class="item_name" style="width:120px;">规格 @speccount：</span>
                            <input type="text" class="textbox textbox_225" id="@specvalue" value="@item.Name" />
                            价格<input type="number" class="textbox textbox_225" id="@specpriceid"  value="@item.Price" />
                            <input type="text" id="@specid" style="display:none;"  value="@item.ID" />
                        </div>
                    }
                    if (speccount == 0)
                    {
                        <div>
                            <span class="item_name" style="width:120px;">规格1：</span>
                            <input type="text" class="textbox textbox_225" id="spec1" />
                            价格<input type="number" class="textbox textbox_225" id="specprice1" />
                            <input type="text" value="specIDTxt1" style="display:none;" />
                        </div>
                    }
                }


            </li>
            <li>
                <input type="button" value="追加规格" class="link_btn" onclick="addspec()" />
                <span style="display:none;" id="spec"></span>
            </li>
            <li id="Imagelist">
                @{   
                    int photolistcount = 0;
                    foreach (var item in ViewBag.Photolist)
                    {
                        photolistcount++;
                        string photovalue = "GdTxt" + photolistcount;
                        string uploadid="file_upload" + photolistcount;
                        string photoid="GdIDTxt"+ photolistcount;
                    <span class="item_name" style="width:120px;">滚动图 @photolistcount：</span>
                    <input type="text" class="textbox textbox_295" disabled="disabled" id="@photovalue" value="@item.Value" />
                    <input type="text" style="display:none;" id="@photoid" value="@item.ID" />
                    <input id="@uploadid" style="float:left" />
                    }
                    if (photolistcount == 0)
                    {
                        <span class="item_name" style="width:120px;">滚动图1：</span>
                        <input type="text" class="textbox textbox_295" disabled="disabled" id="GdTxt1" />
                        <input type="text" style="display:none;" id="GdIDTxt1" />
                        <input id="file_upload1" style="float:left" />
                    }
                }
            </li>
            <li>
                <input type="button" value="追加图片" class="link_btn" onclick="addimage()" />
                <span style="display:none;" id="GdTxt"></span>
            </li>
        </ul>
    </section>
}

    
<section style="margin-bottom:100px;"><input type="submit" onclick="Sumblit()" value="保存" class="link_btn" /></section>
    <script type="text/javascript">
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');
        $(function () {
            UE.getEditor('editor').setContent('@editorstr');
        });
        function Sumblit() {
            var commodityname = $("#txtTitle").val();
            var Price = $("#txtPrice").val();
            var SltImg = $("#SltTxt").val();

            var category = $("#ddlcategory").val();
            var Quantity = $("#txtQuantity").val();
            var introduce = UE.getEditor('editor').getContent();
            var iOrder = $("#txtorder").val();
            var state = $("input[name='state']:checked").val();
            if ('@Request["ID"]' == null)
            {
                var spec = "";
                var specprice = "";
                for (var i = 1; i < speccount + 1; i++) {
                    spec = spec + $("#spec" + i).val() + ";";
                    specprice = specprice + $("#specprice" + i).val() + ";";
                }
                var GdImg = "";
                for (var i = 1; i < imagecount + 1; i++) {
                    GdImg = GdImg + $("#GdTxt" + i).val() + ";";
                }
                $.post("/Admin/AddCommodity", { commodityname: commodityname, Price: Price, SltImg: SltImg, GdImg: GdImg, category: category, Quantity: Quantity, introduce: introduce, iOrder: iOrder, state: state, spec: spec, specprice: specprice }, function (data) {
                    if (data) {
                        alert("保存成功！");
                    }
                    else {
                        alert("保存失败！");
                    }
                });
            }
            else
            {
                var spec = "";
                var specprice = "";
                var specid = "";
                for (var i = 1; i < speccount + 1; i++) {
                    spec = spec + $("#spec" + i).val() + ";";
                    specprice = specprice + $("#specprice" + i).val() + ";";
                    specid = specid + $("#specIDTxt" + i).val() + ";";
                }
                var GdImg = "";
                var GdImgID = "";
                for (var i = 1; i < imagecount + 1; i++) {
                    GdImg = GdImg + $("#GdTxt" + i).val() + ";";
                    GdImgID = GdImgID + $("#GdIDTxt" + i).val() + ";";
                }
                $.post("/Admin/EditCommodity", { commodityname: commodityname, Price: Price, SltImg: SltImg, GdImg: GdImg, category: category, Quantity: Quantity, introduce: introduce, iOrder: iOrder, state: state, spec: spec, specprice: specprice, specid: specid, GdImgID: GdImgID }, function (data) {
                    if (data) {
                        alert("保存成功！");
                    }
                    else {
                        alert("保存失败！");
                    }
                });
            }
        }
    </script>
