@{
    Layout = null;
}

@{
    if (ViewBag.OrderState == "1")
    { //未全部
        <table class="table">
            <tr>
                <th>订单编号</th>
                <th>订单时间</th>
                <th>店铺名称</th>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>销售数量</th>
                <th>单位价格</th>
                <th>实际单位价格</th>
                <th>备注</th>
                <th>用户姓名</th>
                <th>用户电话</th>
                <th>收货地址</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>

            @foreach (var item in ViewBag.list)
            {
                <tr>
                    <td>@item.OrderNum</td>
                    <td>@item.OpeDate.ToString()</td>
                    <td>@item.StoreName</td>
                    <td>@item.Title</td>
                    <td>@item.OptionName</td>
                    <td>@item.Count</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.RealUnitPrice</td>
                    <td>@item.Remark</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.Address</td>
                    <td>@item.OrderState</td>
                    <td>
                        <a href="javascript:;" class="inner_btn" onclick="ChangePrice('@item.ID')">修改价格</a>
                        <a href="javascript:;" class="inner_btn" onclick="OrderClose('@item.ID')">关闭</a>
                    </td>
                </tr>
            }

        </table>
    }
    else { //已付款 + 全部
        <table class="table">
            <tr>
                <th>订单编号</th>
                <th>订单时间</th>
                <th>店铺名称</th>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>销售数量</th>
                <th>单位价格</th>
                <th>实际单位价格</th>
                <th>备注</th>
                <th>用户姓名</th>
                <th>用户电话</th>
                <th>收货地址</th>
                <th>订单状态</th>
                <th>物流状态</th>
                <th>物流单号</th>
                <th>物流公司</th>
                <th>操作</th>
            </tr>

            @foreach (var item in ViewBag.list)
            {
                <tr>
                    <td>@item.OrderNum</td>
                    <td>@item.OpeDate.ToString()</td>
                    <td>@item.StoreName</td>
                    <td>@item.Title</td>
                    <td>@item.OptionName</td>
                    <td>@item.Count</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.RealUnitPrice</td>
                    <td>@item.Remark</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.Address</td>
                    <td>@item.OrderState</td>
                    <td>@item.LogisticsState</td>
                    <td>@item.ExpressNum</td>
                    <td>@item.ExpressType</td>
                    <td>
                        <a href="javascript:;" class="inner_btn" onclick="WriteExpNum('@item.ID')">填写快递单号</a>
                    </td>
                </tr>
            }

        </table>
    }
    <aside class="paging">
        <a href="javascript:;" onclick="PreviousPage();">上一页</a>
        <a href="javascript:;" onclick="NextPage();">下一页</a>
    </aside>
}



