@model ZZSCModel.Service.CommodityServiceInfo

@{
    ViewBag.Title = Model.SCommodityInfo.Title;
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@section LayoutHead{
    <style>
        body {
            background-color: none;
        }

        h1 {
            /*font-size: 50px;*/
            padding: 0px 25px;
        }

        .uk-button:focus, .uk-button:hover {
            background-color: none;
            color: white;
        }

        .spc {
            position: fixed;
            right: 10px;
            bottom: 40%;
            width: 100px;
            height: 100px;
            overflow: hidden;
            cursor: default;
            -moz-user-select: none;
            z-index: 999;
        }

        .swiper-container {
            height: 20%;
        }

        .uk-article > p {
            line-height: none;
        }

        .shop-img {
            width: auto;
        }

        .uk-table td {
            vertical-align: middle;
            border: 1px solid #DDDDDD;
            height: 40px;
        }
    </style>

    <script src="~/StaticContent/js/template.js"></script>

    <script id="tplCommodity" type="text/html">
        {{each List as value index}}
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary shop-item parent-pos" style="margin-bottom:25px;">
                <a href="/WeShop/CommodityInfo/{{value.ID}}">
                    <img src="/{{value.Photo}}" alt="" class="uk-thumbnail uk-align-center shop-img">
                    <p>
                        <h1>{{value.Title}}</h1>
                    </p>
                    <h1 style="color:red;">
                        {{if value.HasDiscount}}
                        <del class="del-color">￥{{value.Price}}</del>
                        {{/if}}
                        ￥{{value.DiscountPrice}}
                    </h1>
                </a>
            </div>
        </div>
        {{/each}}
    </script>
}

<div class="ui-container">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (Model.SDicPhoto.ContainsKey(2))
            {
                foreach (var item in Model.SDicPhoto[2])
                {
                    <div class="swiper-slide">
                        <a href="javascript:;" target="_blank">
                            <img src="~/@item" alt="" class="swp-img" />
                        </a>
                    </div>
                }
            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <br />
</div>
<div uRemark="介绍1" class="uk-article" style="background-color:white;">
    @{
        <h1>
            @Model.SCommodityInfo.Title
            @Model.SCommodityInfo.Remark
        </h1>
        <hr />
        <h1 style="color:red;">
            @if (Model.SCommodityInfo.HasDiscount)
            {
                <del class="del-color">￥@Model.SCommodityInfo.Price</del>
            }
            ￥@Model.SCommodityPriceInterVal
        </h1>
        <hr />
        <h1>运费：@Model.SPostType</h1>
        <br />
    }
</div>

<div class="uk-block" uRemark="整体介绍" style="padding-top:0px;">
    <div class="br-box">
        <br />
    </div>

    <div rRemark="介绍" class="uk-block">
        <div class="uk-block">
            <div uRemark="导航">
                <ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
                    <li class="uk-width-medium-1-3 uk-text-center uk-active active" uid="shopPhotoList">
                        <h1 class="nav-li-font">商品介绍</h1>
                    </li>
                    <li class="uk-width-medium-1-3 uk-text-center" uid="shopIntro">
                        <h1 class="nav-li-font">商品参数</h1>
                    </li>
                    <li class="uk-width-medium-1-3 uk-text-center" uid="moreShop">
                        <h1 class="nav-li-font">推荐商品</h1>
                    </li>
                </ul>
                <br />
                <ul id="tab-content" class="uk-switcher">
                    <li class="uk-active">
                        <div class="uk-article">
                            @Html.Raw(Model.SCommodityInfo.Intro)
                            <br />
                        </div>
                    </li>
                    <li>
                        <table class="uk-table" id="tblPar"></table>
                    </li>
                    <li id="lMoreShop" class="uk-grid"></li>
                </ul>
            </div>
            <div uRemark="购物车列表"></div>
        </div>
    </div>
</div>
<div uRemark="底部" data-uk-sticky class="uk-grid">
</div>

<div id="modalTakeOrder" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header uk-grid">
            <div class="uk-width-2-6">
                @if (Model.SDicPhoto.ContainsKey(4))
                {
                    <img class="uk-thumbnail mini-photo" src="~/@Model.SDicPhoto[4]" alt="">
                }
                else
                {
                    <img class="uk-thumbnail mini-photo" src="/@Model.SCommodityInfo.Photo" alt="">
                }
            </div>
            <div class="uk-width-3-6">
                <h1 style="font-size:36px;">
                    @Model.SCommodityInfo.Title
                    @Model.SCommodityInfo.Remark
                </h1>
                <h1 style="color:red;font-size:36px;" id="showOrderPrice">￥@Model.SCommodityPriceInterVal</h1>
            </div>
            <div class="uk-width-1-6">
                <a href="" class="uk-icon-hover uk-icon-close uk-modal-close uk-float-right" style="font-size:100px;"></a>
            </div>
        </div>
        <div class="br-box">
            <br />
        </div>
        @if (Model.SCommdityOptionInfo.Count() > 0)
        {
            <div class="uk-width-1-1">
                <br />
                <h1>规格：</h1>
            </div>
            <div class="uk-flex" id="dCommoOptionBeOrder" uid="" uPrice="0">
                @foreach (var vItem in Model.SCommdityOptionInfo)
                {
                    string strPrice = (vItem.Price * Model.DiscountValue).ToString("F2");

                    <button class="uk-button commodity-type" uId="@vItem.ID" uPrice="@strPrice" onclick="btnOptionClick('beOrder');">@vItem.Name</button>
                }
            </div>
            <br />
            <div class="br-box">
                <br />
            </div>
        }
        <br />
        <div class="uk-grid">
            <h1 class="uk-width-1-4">数量:</h1>
            <div class="uk-width-1-4"></div>
            <div class="uk-width-2-4 uk-float-right">
                <button class="uk-button commodity-count" id="btnOrderCountSub">-</button>
                <button class="uk-button commodity-count" disabled="disabled" id="btnOrderCount">1</button>
                <button class="uk-button commodity-count" id="btnOrderCountPlus">+</button>
            </div>
        </div>
        <br />
        <div class="br-box">
            <br />
        </div>
        <div class="uk-modal-footer">
            <button type="button" class="uk-button uk-button-large uk-width-1-1 mobile-button" style="background-color:#ff5000;" id="btnOrderNext">下一步</button>
        </div>
    </div>
</div>

<div id="modalAddShop" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header uk-grid">
            <div class="uk-width-2-6">
                @if (Model.SDicPhoto.ContainsKey(4))
                {
                    <img class="uk-thumbnail mini-photo" src="~/@Model.SDicPhoto[4]" alt="">
                }
                else
                {
                    <img class="uk-thumbnail mini-photo" src="/@Model.SCommodityInfo.Photo" alt="">
                }
            </div>
            <div class="uk-width-3-6">
                <h1 style="font-size:36px;">
                    @Model.SCommodityInfo.Title
                    @Model.SCommodityInfo.Remark
                </h1>
                <h1 style="color:red;font-size:36px;" id="showShopPrice">￥@Model.SCommodityPriceInterVal</h1>
            </div>
            <div class="uk-width-1-6">
                <a href="" class="uk-icon-hover uk-icon-close uk-modal-close uk-float-right" style="font-size:100px;"></a>
            </div>
        </div>
        <div class="br-box">
            <br />
        </div>
        @if (Model.SCommdityOptionInfo.Count() > 0)
        {
            <div class="uk-width-1-1">
                <br />
                <h1>规格：</h1>
            </div>
            <div class="uk-flex" id="dCommoOptionShop" uid="" uPrice="0">
                @foreach (var vItem in Model.SCommdityOptionInfo)
                {
                    string strPrice = (vItem.Price * Model.DiscountValue).ToString("F2");

                    <button class="uk-button commodity-type" uId="@vItem.ID" uPrice="@strPrice" onclick="btnOptionClick('shop');">@vItem.Name</button>
                }
            </div>
            <br />
            <div class="br-box">
                <br />
            </div>
        }
        <br />
        <div class="uk-grid">
            <h1 class="uk-width-1-4">数量:</h1>
            <div class="uk-width-1-4"></div>
            <div class="uk-width-2-4 uk-float-right">
                <button class="uk-button commodity-count" id="btnShopCountSub">-</button>
                <button class="uk-button commodity-count" disabled="disabled" id="btnShopCount">1</button>
                <button class="uk-button commodity-count" id="btnShopCountPlus">+</button>
            </div>
        </div>
        <br />
        <div class="br-box">
            <br />
        </div>
        <div class="uk-modal-footer">
            <button type="button" class="uk-button uk-button-large uk-width-1-1 mobile-button" style="background-color:#ff5000;" id="btnAddShop">加入购物车</button>
        </div>
    </div>
</div>

<div class="spc" id="dShopCart" style="background-image: url('/StaticContent/image/public/shopping-cart.png');height:100px;width:100px;background-position:800px -200px;">
</div>

<div class="uk-grid uk-panel uk-panel-box w" style="background-color:white;">
    <div class="uk-width-medium-1-2">
        <button class="uk-button uk-button-large uk-width-1-1 mobile-button" type="button" style="background-color:#ff5000;" id="btnTakeOrder" data-uk-modal="{target:'#modalTakeOrder'}">立即购买</button>
    </div>
    <div class="uk-width-medium-1-2">
        <button class="uk-button uk-button-large uk-width-1-1 mobile-button" type="button" style="background-color:#ff9402;" id="btnTakeShopOrder" data-uk-modal="{target:'#modalAddShop'}">加入购物车</button>
    </div>
</div>

<input type="hidden" value="@Model.SCommodityInfo.StoreID" id="hStoreID" />

@section LayoutShop{
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false,
            height: 800,
            loop: true
        });
    </script>

    <script type="text/javascript">

        //公共参数
        var vCommodityID = '@Model.SCommodityInfo.ID';

        $(function () {
            //事件初始化
            BindEvent();

            //商品数量增减按钮事件绑定
            btnCountChangeBindEvent();

            //加载商品规格参数
            LoadCommodityParameter();

            //加载推荐商品
            LoadMoreCommodity();
        });

        //自定义方法区

        //事件绑定
        function BindEvent() {
            //按钮事件绑定

            //立即购买 - 下一步按钮事件
            $('#btnOrderNext').click(function () {
                //Check Post Value
                var vCheckOpeC = new CommotidtyShopOpe();
                if (!vCheckOpeC.CheckOpeBtn($('#dCommoOptionBeOrder'))) { return false; }

                //Result Data
                var vResult = null;

                var token = '';
                var tokenResult = RequestZZSCToken('beOrder',
                    function (token) { //校验成功
                        //准备参数
                        var par = { beOrderInfo: {}, beOrderLineList: [] };
                        var beOrderInfo = {};
                        var beOrderLine = {};

                        beOrderLine.Count = $('#btnOrderCount').text();
                        beOrderLine.CommodityID = vCommodityID;

                        var vdCommodityOption = $('#dCommoOptionBeOrder');
                        if (vdCommodityOption && vdCommodityOption.length > 0) {
                            beOrderLine.CommodityOptionID = vdCommodityOption.attr('uid');
                            beOrderLine.UnitPrice = vdCommodityOption.attr('uPrice');
                            beOrderLine.RealUnitPrice = vdCommodityOption.attr('uPrice');
                            beOrderLine.TotalPrice = parseInt(beOrderLine.Count) * parseFloat(beOrderLine.RealUnitPrice);
                        }
                        else {
                            beOrderLine.TotalPrice = $('#showOrderPrice').text().substr(1);
                        }
                        par.beOrderInfo.StoreID = $('#hStoreID').val();
                        par.beOrderLineList = [beOrderLine];

                        //提交
                        TakeOrderOpe('placeOrder', par,
                            function (vResult) {
                                if (vResult && vResult.Flag) {
                                    var vBeOrderID = vResult.BeOrderID;
                                    window.location.href = '/WeShop/PayAddressInfo/' + vBeOrderID;
                                    return false;
                                }
                                else {
                                    NotifyAlert('提交失败！请重新操作！');
                                    //alert();
                                }
                            });
                    },
                    function () {
                        NotifyAlert('提交失败！请重新操作！');
                        //alert('提交失败！请重新操作！');
                        window.location.href = '/WeShop/Main';
                    });
            });

            //立即购买 - Count相关按钮事件
            $('#btnOrderCountSub').click(function () {
                var btnCount = $('#btnOrderCount');
                var showPrice = $('#showOrderPrice');

                btnCountChangeOpe('sub', btnCount, showPrice);
            });

            //立即购买 - Count相关按钮事件
            $('#btnOrderCountPlus').click(function () {
                var btnCount = $('#btnOrderCount');
                var showPrice = $('#showOrderPrice');

                btnCountChangeOpe('plus', btnCount, showPrice);
            });

            //Tab按钮事件
            $('.uk-tab li').on('click', function () {
                var vThis = event.currentTarget;
                vThis = $(vThis);

                vThis.addClass('active');
                vThis.siblings('li').removeClass('active');
            });

            SearchBtnBindEvent();
        }

        //商品规格参数加载
        function LoadCommodityParameter() {
            $.get('/Admin/CommodityParameterContent',
                { par1: vCommodityID },
                function (data) {
                    if (data && data.List) {
                        var vHtml = ''
                        $.each(data.List, function (index, item) {
                            vHtml += TxtFormat('<tr><td class="uk-text-center uk-text-bold">{0}</td><td class="uk-text-center">{1}</td></tr>', [item.Text, item.Value]);
                        });
                        $('#tblPar').append(vHtml);
                    }
                },
                'json');
        }

        //推荐商品加载
        function LoadMoreCommodity() {
            $.get('/RequestData/CommodityInfoByPage', { r: Math.random(), par1: '', par2: 1, par3: 5 }, function (data) {
                if (data && data.List) {
                    var vHtml = template('tplCommodity', data);
                    $('#lMoreShop').append(vHtml);

                    //注册事件
                    //BindMoreCommodityEvent();
                }
            }, 'json');
        }

        //推荐商品区域click事件
        function BindMoreCommodityEvent() {
            $('.shop-img').on('click', function () {
                var vThis = $(this);
                var vCommID = vThis.attr('uId');

                window.location.href = '/WeShop/CommodityInfo/' + vCommID;
            });
        }
    </script>
}