@model IEnumerable<IGrouping<dynamic, dynamic>>
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

@section LayoutHead{
    <script src="~/StaticContent/js/Service/orderList.js"></script>
}

<div class="uk-container">
    <div class="uk-block">
        <div uRemark="导航">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
                <li class="uk-width-medium-1-5 uk-text-center" uid="shoppingList">
                    <h1 class="nav-li-font">购物车</h1>
                </li>
                <li class="uk-width-medium-1-5 uk-text-center uk-active active" uid="orderList">
                    <h1 class="nav-li-font">我的订单</h1>
                </li>
                <li class="uk-width-medium-1-5 uk-text-center">
                    <h1 class="nav-li-font">待付款</h1>
                </li>
                <li class="uk-width-medium-1-5 uk-text-center">
                    <h1 class="nav-li-font">待发货</h1>
                </li>
                <li class="uk-width-medium-1-5 uk-text-center">
                    <h1 class="nav-li-font">待收货</h1>
                </li>
            </ul>
            <br />
            <ul id="tab-content" class="uk-switcher">
                <li>
                </li>
                <li class="uk-active">
                    @{
                        foreach (var item in Model)
                        {
                            <div uRemark="编辑" class="uk-grid">
                                <div class="uk-width-1-1" style="height:25px;"></div>
                                <div class="uk-width-medium-1-2 uk-text-left mobile-font">店铺：@item.ElementAt(0).StoreName</div>
                                <div class="uk-width-medium-1-2 uk-text-right mobile-font"></div>
                                <div class="uk-width-1-1" style="height:25px;"></div>
                            </div>
                            <br />
                            <div class="uk-width-1-1">
                                @if (item.ElementAt(0).OrderState == 1)
                                {
                                    <h1>订单号：<span class="">@item.ElementAt(0).OrderNum</span><a class="uk-float-right right-btn uk-width-1-5 cancel-btn" href="javascript:;" onclick="btnCancel('@item.ElementAt(0).ID');">取消</a></h1>
                                    <h1 style="display:none;">订单号：<span class="">@item.ElementAt(0).OrderNum</span><span class="uk-float-right right-btn"></span></h1>
                                }
                                else
                                {
                                    string sTxt = string.Empty;
                                    var vItem = item.ElementAt(0);
                                    if (vItem.OrderState == 3) { if (vItem.LogisticsState == 0) { sTxt = "未发货"; } else if (vItem.LogisticsState == 1) { sTxt = "已发货"; } else if (vItem.LogisticsState == 2) { sTxt = "已签收"; } }
                                    else if (vItem.OrderState == 4) { sTxt = "已取消"; } else if (vItem.OrderState == 5) { sTxt = "退款中"; } else if (vItem.OrderState == 7) { sTxt = "退款成功"; }

                                    <h1>订单号：<span class="">@item.ElementAt(0).OrderNum</span><span class="uk-float-right right-btn">@sTxt</span></h1>
                                }
                            </div>
                            foreach (var vItem in item)
                            {
                                <div class="uk-panel uk-panel-box uk-flex uk-flex-space-between uk-flex-middle mobile-shopDiv" for="shopItmeNa">
                                    <img src="~/@vItem.Photo" alt="" class="uk-thumbnail uk-width-medium-1-3 shoppList-img" style="width:300px;">
                                    <p class="uk-width-medium-1-3 uk-text-break mobile-shopItem" style="padding:0 15px;">@vItem.Title</p>
                                    <div class="uk-width-medium-1-3 mobile-font uk-text-align dCommCount" uid="@vItem.StoreID" uShopID="@vItem.ID">
                                        <h1 style="color:red;">￥@(vItem.Count * vItem.RealUnitPrice)</h1>
                                        <h1 style="color:red;">×@vItem.Count</h1>
                                    </div>
                                </div>
                            }
                            <br />
                            <div class="uk-width-1-1 shopDiv-Foot">
                                <h1>
                                    总价：<span>￥@item.ElementAt(0).RealPrice</span>

                                    @if (item.ElementAt(0).OrderState == 1)
                                    {
                                        <a class="uk-float-right right-btn order-btn uk-width-1-5 uk-text-center" href="javascript:;" onclick="btnPayApply('@item.ElementAt(0).ID');">付款</a>
                                    }
                                    else if (item.ElementAt(0).OrderState == 3)
                                    {
                                        <a class="uk-float-right right-btn order-btn uk-width-1-5 uk-text-center" href="javascript:;" onclick="btnLogistics('@item.ElementAt(0).ID');">查看物流</a>
                                        <a class="uk-float-right right-btn order-btn uk-width-1-5 uk-text-center" href="javascript:;" onclick="btnRefund('@item.ElementAt(0).ID');">申请退款</a>
                                    }
                                </h1>
                                <br />
                            </div>
                            <br />
                        }
                    }
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div uRemark="购物车列表"></div>
    </div>
</div>

@section LayoutShop{
    <script type="text/javascript">
        $(function () {
            //事件初始化
            BindEvent();
        });

        //自定义方法区
        function BindEvent() {
            //Tab按钮事件
            $('.uk-tab li').click(function () {
                var vThis = event.currentTarget;
                vThis = $(vThis);

                vThis.addClass('active');
                vThis.siblings('li').removeClass('active');

                var type = vThis.attr('uid');

                switch (type) {
                    case 'shoppingList':
                        window.location.href = '/WeShop/ShoppingList';
                        break;

                    case 'orderList':
                        break;

                    default: //待确认订单列表页面
                        window.location.href = '/WeShop/MyFunctionList';
                        break;
                }
            });
        }
    </script>
}