
@{
    ViewBag.Title = "安全支付";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<script type="text/javascript">

    //调用微信JS api 支付
    function jsApiCall() {
        var vWxJsApiParam = {};
        $.getJSON('/WeToken/PayApplyContent', { r: Math.random() }, function (data) {
            if (data == undefined || data == '') {
                NotifyAlert('下单失败！请重新操作！');
                window.location.href = '/WeShop/OrderList';
                return false;
            }
            vWxJsApiParam = data;
        }).done(function () {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                vWxJsApiParam,//josn串
                 function (res) {
                     WeixinJSBridge.log(res.err_msg);
                     //alert(res.err_code + res.err_desc + res.err_msg);

                     //只有err_msg一个属性
                     var vMsg = res.err_msg;
                     var vResultCode = vMsg.split(':')[1];

                     if (vResultCode == 'ok') {
                         $('#hResultMsg').text('支付成功！正在跳转......');
                     }
                     else {
                         $('#hResultMsg').text('支付失败！正在跳转......');
                     }

                     setTimeout(function () { window.location.href = '/WeShop/OrderList'; }, 1500);
                 }
             );

        });
    }

    function callpay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }
            else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }
        else {
            jsApiCall();
        }
    }

    $(function () {
        //初始化
        InitData();

        callpay();
    });

    //自定义方法区

    //初始化
    function InitData() {
        var vFlag = '@ViewBag.Flag';
        if (vFlag == 'False') {

            NotifyAlert('@ViewBag.Msg');

            setTimeout(function () {
                window.location.href = '@ViewBag.RedirectUrl';
            }, 1500);
        }
    }
</script>

<style type="text/css">
    h1 {
        font-size: 50px;
    }
</style>

<div class="uk-panel uk-panel-box">
    <div class="uk-grid">
        @{
            string strContent = ViewBag.Content.ToString();
            string[] arrContent = strContent.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);

            <div class="bgWhite shop-item">
                <br />
                <h1 class="uk-text-left">订单详情</h1>
                <br />

                <div style="border-top:3px solid #e5e5e5"></div>
                <br />
                <div class="uk-grid">
                    <br />
                    <h1 class="uk-width-medium-1-2 uk-text-left" style="padding-left:60px;">@arrContent[0].Split(':')[0] ：</h1>
                    <h1 class="uk-width-medium-1-2 uk-text-right" style="padding-right:35px;">@arrContent[0].Split(':')[1] ：</h1>
                    <br />
                </div>
                <br />
                <div style="border-top:3px solid #e5e5e5"></div>
                <br />
                <div class="uk-grid">
                    <br />
                    <h1 class="uk-width-medium-1-2 uk-text-left" style="padding-left:60px;">@arrContent[1].Split(':')[0] ：</h1>
                    <h1 class="uk-width-medium-1-2 uk-text-right" style="padding-right:35px;">@arrContent[1].Split(':')[1] ：</h1>
                    <br />
                </div>
                <br />
                <div style="border-top:3px solid #e5e5e5"></div>
                <br />
                <div class="uk-grid">
                    <br />
                    <h1 class="uk-width-medium-1-2 uk-text-left" style="padding-left:60px;">@arrContent[2].Split(':')[0] ：</h1>
                    <h1 class="uk-width-medium-1-2 uk-text-right" style="padding-right:35px;">@arrContent[2].Split(':')[1] ：</h1>
                    <br />
                </div>
                <br />
                <div style="border-top:3px solid #e5e5e5"></div>
                <br />
                <div class="uk-width-1-1">
                    <h1 id="hResultMsg"></h1>
                </div>
            </div>
        }
    </div>

</div>

